<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	    <title>Veget'Able - Le site du partage végétal !</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	</head>
	<body>
		<div class="container-expand-md">
			<div class="row jumbotron bg-info text-white">
				<div class="col"> 
					<h1>Bienvenue dans Veget'Able - l'univers du partage végétal !</h1>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-3">
					<div class="card">
						<div class="card-header text-info">Veget'able - Les membres</div>
						<div class="card-body">
							<h5 class="card-title"></h5>
							<ul class="list-group">
								<li class="list-group-item"><a th:href="@{http://localhost:8080/users}">Tous les membres</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-3">							
					<div class="card">
						<div class="card-header text-info">Veget'able - Les dons</div>
						<div class="card-body">
							<h5 class="card-title"></h5>
							<ul class="list-group">
								<li class="list-group-item"><a th:href="@{http://localhost:8080/provisions}">Tous les dons</a></li>
								<li class="list-group-item"><a th:href="@{http://localhost:8080/provisionsByUserIdentifiant}">Mes dons</a></li>
								<li class="list-group-item"><a th:href="@{http://localhost:8080/provision/createProvision}">Créer un don</a></li>
							</ul>
						</div>
					</div>	
				</div>
				<div class="col-md-3">							
					<div class="card">
						<div class="card-header text-info">Veget'able - Les échanges</div>
						<div class="card-body">
							<h5 class="card-title"></h5>
							<ul class="list-group">
								<li class="list-group-item"><a th:href="@{http://localhost:8080/requestSendedByUserIdentifiant}">Mes demandes envoyées</a></li>
							</ul>
							<h5 class="card-title"></h5>
							<ul class="list-group">
								<li class="list-group-item"><a th:href="@{http://localhost:8080/requestReceivedByUserIdentifiant}">Mes demandes reçues</a></li>
							</ul>	
						</div>
					</div>	
				</div>
				<div class="col-md-3">							
					<div class="card">
						<div class="card-header text-info">Mon profil utilisateur</div>
							<div class="card-body">
								<p th:text="${principal=='anonymousUser'} ? 'Vous n\'êtes pas connecté' : 'Vous êtes connectés en tant que '+ ${principal}"></p>
								<ul th:if="${principal=='anonymousUser'}" class="list-group">
									<li class="list-group-item"><a  th:href="@{http://localhost:8080/login}">Me Connecter</a></li>
									<li class="list-group-item"><a  th:href="@{http://localhost:8080/user/createUser}">Me créer un nouveau compte</a></li>
								</ul>
								<ul th:if="${principal!='anonymousUser'}" class="list-group">
									<li class="list-group-item"><a th:href="@{http://localhost:8080/logout}">Me déconnecter</a></li>
									<li class="list-group-item"><a th:href="@{http://localhost:8080/user/createUser}">Me créer un nouveau compte</a></li>
								</ul>	
							</div>
						</div>
					</div>
				</div>
			</div>
		<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>	
	
	</body>
</html>