<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	    <title>Veget'Able - Le site du partage végétal !</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	</head>
		<body>
		<div class="container-expand-md">
			<!-- Barre de navigation -->
			<div th:insert="~{provisionpage :: menu}"></div>
			
			<div class="row jumbotron bg-info text-white">
				<div class="col"> 
					<h1>Bienvenue dans Veget'Able - l'univers du partage végétal !</h1>
				</div>
			</div>
			<div class="row">
				<div class="col text-info">
					<h2>Ajouter un commentaire à votre demande</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title text-info">Votre commentaire</h5>
							<form th:action="@{/requestCreation/}" th:object="${requestForm}" method="POST" >						
									<div>
										<label for="Intitulé">Commentaire</label>
										<input type="text" th:field="*{requestComment}" placeholder="Commentaire"/>
									</div>
									<div>
										<input type="hidden" th:field="*{provisionEntity.provisionId}" id="provisionEntity.provisionId">
										<input type="hidden" th:field="*{userEntity.userId}" id="userEntity.userId">
									</div>
								
									
				       			<input type="submit" value="valider"/>				
							</form>
									
							
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<a class="col text-info" th:text="${principal == 'anonymousUser'} ? 'Vous êtes déconnectés' : 'Vous êtes connectés en tant que '+ ${principal}"></a>
			</div>
		</div>
	
	
		<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>	
	
	</body>
</html>