<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	    <title>Veget'Able - Le site du partage végétal !</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	</head>
		<body>
		<div class="container-expand-md">
			<!-- Barre de navigation -->
			<div th:insert="~{provisionpage :: menu}"></div>
			<div class="row jumbotron bg-info text-white">
				<div class="col"> 
					<h1>Bienvenue dans Veget'Able - l'univers du partage végétal !</h1>
				</div>
			</div>
			<div class="row">
				<div class="col text-info">
					<h2>Formulaire de création de compte</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title text-info">Vos informations</h5>
							<form th:action="@{/user/createUser}" th:object="${userForm}" method="POST" >						
								<div class="row mt-3  col-sm-12">
									<div class="col-sm-3">
										<label for="nom">Nom</label>
									</div>
									<div class="col-sm-6">
										<textarea class="form-control" th:field="*{userLastName}" placeholder="Nom" rows="1"></textarea>
									</div>	
								</div>
								<div class="row mt-3  col-sm-12">
									<div class="col-sm-3">
										<label for="Prénom">Prénom</label>
									</div>
									<div class="col-sm-6">	
										<textarea class="form-control" th:field="*{userFirstName}" placeholder="Prénom" rows="1"></textarea>
									</div>	
								</div>
								<div class="row mt-3  col-sm-12">
									<div class="col-sm-3">
										<label for="Identifiant">Identifiant</label>
									</div>
									<div class="col-sm-6">	
										<textarea class="form-control" th:field="*{userIdentifiant}" placeholder="Identifiant" rows="1"></textarea>
									</div>	
								</div>
								<div class="row mt-3  col-sm-12">
									<div class="col-sm-3">
										<label for="Mot de passe">Mot de passe</label>
									</div>
									<div class="col-sm-6">
										<textarea class="form-control" th:field="*{userPassword}" placeholder="Mot de passe" rows="1"></textarea>
									</div>	
								</div>
								<div class="row mt-3  col-sm-12">
									<div class="col-sm-3">
										<label for="Mot de passe">Email</label>
									</div>
									<div class="col-sm-6">
										<textarea class="form-control" th:field="*{adressEntity.adressEmail}" placeholder="Email" rows="1"></textarea>
									</div>	
								</div>
								<div class="row mt-3  col-sm-12">
									<div class="col-sm-3">
										<label for="Mot de passe">Numéro de téléphone</label>
									</div>
									<div class="col-sm-6">	
										<textarea class="form-control" th:field="*{adressEntity.adressPhoneNumber}" placeholder="Numéro de téléphone" rows="1"></textarea>
									</div>	
								</div>
								<div class="row mt-3  col-sm-12">
									<div class="col-sm-3">
										<label for="Mot de passe">Ville</label>
									</div>	
									<div class="col-sm-6">
										<textarea class="form-control" th:field="*{adressEntity.adressTown}" placeholder="Ville" rows="1"></textarea>
									</div>	
								</div>
								<div class="row mt-3  col-sm-12">
									<div class="col-sm-3">
										<label for="Mot de passe">Code Postal</label>
									</div>
									<div class="col-sm-6">	
										<textarea class="form-control" th:field="*{adressEntity.adressZipCode}" placeholder="Code Postal" rows="1"></textarea>
									</div>	
								</div>
								<div class="row mt-3">
			       					<button type="submit" class="btn btn-info btn-block" role="button"> M'inscrire</button>
			       				</div>					
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	
	
		<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>	
	
	</body>
</html>